@{
    Layout = "_Layout";
    ViewData["Title"] = "TR-";
}

<div class="button-container">
    <div class="left-buttons">
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw5Komut(0)">GİRİŞ KAPAĞI AÇ</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw5Komut(1)">GİRİŞ KAPAĞI KAPAT</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw5Komut(2)">YAN SIKIŞTIRMA AÇ</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw5Komut(3)">YAN SIKIŞTIRMA KAPAT</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw5Komut(4)">KUYRUK KAPAK AÇ</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw5Komut(5)">KUYRUK KAPAK KAPAT</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw5Komut(6)">KUYRUK SIKIŞTIRMA AÇ</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw5Komut(7)">KUYRUK SIKIŞTIRMA KAPAT</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw5Komut(8)">SIRT DAYAMA AÇ</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw5Komut(9)">SIRT DAYAMA KAPAT</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw6Komut(0)">BOYUN SIKIŞTIRMA AÇ</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw6Komut(1)">BOYUN SIKIŞTIRMA KAPAT</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw6Komut(2)">BAŞ GERME AÇ</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw6Komut(3)">BAŞ GERME KAPAT</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw6Komut(4)">KABİN İLERİ</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw6Komut(5)">KABİN GERİ</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw6Komut(6)">KABİNİN İÇİNDEN HAYVANI BOŞALT</button>
        
        </div>






    <div class="right-container">
        <br />
        <div class="VeriMetni">
          
            <p>MW5: <span id="mw5data">Bekleniyor...</span></p>
            <p>MW6: <span id="mw6data">Bekleniyor...</span></p>
            <hr />
        </div>

        <br />
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw6Komut(13)">RESET</button>
        <br />
        <h6>KİLİT MEKANİZMASI</h6>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw6Komut(14)">CIKIŞ KİLİT KAPAT</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mw6Komut(15)">CIKIŞ KILIT AÇ</button>
    </div>



    <script>
       
        setInterval(function () {
            fetch('/PLC/Okuma')
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById("mw5data").innerText = data.mw5;
                        document.getElementById("mw6data").innerText = data.mw6;
                    } else {
                        console.error(data.message);
                    }
                })
                .catch(error => console.error("Hata:", error));
        }, 1000);
    </script>


</div>
