@using System.Globalization

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]CANTEK MEAT TECHNOLOGIES</title>
    <link rel="icon" href="~/images/Logo Cantek.png" type="image/png" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

</head>
<body>
    <div class="background-container"></div>
    <div class="language-selection-container">
        @RenderBody() 
    </div>
</body>
</html>
