* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/cantek_diagonal_background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}
.language-selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Sayfanın tamamını kaplaması için */
}

form {
    display: flex;
    gap: 20px; /* Butonlar arasına boşluk ekler */
}

.btn-language {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #555555;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    .btn-language img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .btn-language:hover {
        background-color: #373737;
        transform: scale(1.05);
    }
